{% extends "dashboard/base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %} جزئیات مخاطب {% endblock title %}

{% block content %}
<div class="col-12">
    <div class="card shadow my-4">
        <div class="card-body">
            <h2 class="h4 mb-1">جزئیات مخاطب</h2>
            <p class="mb-3">اطلاعات کامل مخاطب در زیر نشان داده شده است</p>
            
            <dl class="row">
                <dt class="col-sm-3 mb-3">نام</dt>
                <dd class="col-sm-9 mb-3">{{ contact.name }}</dd>

                <dt class="col-sm-3 mb-3">شماره تماس</dt>
                <dd class="col-sm-9">{{ contact.phone_number }}</dd>

                <dt class="col-sm-3 mb-3">پیام</dt>
                <dd class="col-sm-9 mb-3">{{ contact.message }}</dd>

                <dt class="col-sm-3 mb-3">تاریخ ارسال</dt>
                <dd class="col-sm-9">{{ contact.created_time|jalali_date }}</dd>
            </dl>
            
            <a href="{% url 'dashboard:contact_list' %}" class="btn btn-secondary mt-3">بازگشت به لیست مخاطبان</a>
        </div>
    </div>
</div>
{% endblock content %}
