{% extends "dashboard/base.html" %}
{% load static %}

{% block title %} حذف آیتم{% endblock title %}

{% block content %}
<div class="col-12">
    <div class="card shadow my-4">
        <div class="card-body text-center">
            <h2 class="h4 mb-3">آیا مطمئن هستید که می‌خواهید این مورد را حذف کنید؟</h2>
            <p class="mb-4">این عملیات غیرقابل بازگشت است و اطلاعات  برای همیشه حذف خواهد شد.</p>

            <form method="post" class="mt-4">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">حذف</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">لغو</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
