{% extends "dashboard/base.html" %}
{% load static %}

{% block title %} تغیر رمز عبور{% endblock title %}

{% block content %}

<div class="col-12">
    <div class="card shadow my-4">
        <div class="card-body">
            <h2 class="h4 mb-3">تغییر رمز عبور</h2>
            <p class="mb-3">برای تغییر رمز عبور، لطفاً رمز فعلی و رمز جدید را وارد کنید</p>
            
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">ذخیره تغییرات</button>
                <a href="{% url 'dashboard:home' %}" class="btn btn-secondary mt-3">لغو</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}