{% extends "dashboard/base.html" %}
{% load static %}
{% load blog_tags %}

{% block title %} ایجاد و ویرایش{% endblock title %}

{% block content %}

<div class="col-12">
    <div class="card shadow my-4">
        <div class="card-body">
            <h2 class="h4 mb-3">ویرایش </h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">ذخیره تغییرات</button>
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary mt-3">لغو</a>
            </form>
        </div>
    </div>
</div>

{% endblock content%}